{% extends 'blog/base_blog.html' %}


{% block title %}
    Edit "{{ tag.title }}" tag {{ block.super }}
{% endblock title %}


{% block content %}

    <h1>Edit "{{ tag.title }}" tag</h1>

    <form action="{% url 'tag_update_url' slug=tag.slug %}" method="POST">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">
                {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}
                
                {{ field.label }}
                {{ field }}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary">Update</button>

    </form>

{% endblock content %}